.share{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.37); 
     box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.37);
}
.shareWrapper{
    padding: 20px;
}
.shareTop{
    display: flex;
    align-items: center;
}
.shareinput{
    width: 80%;
    border: none;
}
.shareinput:focus{
    outline: none;
}
.shareprofilepicture{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.hr{
    margin: 20px;
}
.shareBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shareoptions{
    display: flex;
}
.shareoption{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 10px;
}
.icon{
    font-size: 18px;
    margin-right: 5px;
}
.optionText{
    color: #000;
    font-size: 14px;
    font-weight: 500;
}
.postbutton{
    border: none;
    padding: 8px;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 20px;
    background-color: #1b0473;
    color: white;
    cursor: pointer;
}